@font-face{
    font-family: "Awesome";
    src: url(fontawesome-webfont.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    line-height: 1.5;
}

.sectionHeadlineHolder {
    margin: 40px 0;
}

.banner {
    background-image: url(banner3.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 10%;
}

header {
    width: 100%;
    height: 10%;
}

header p {
    text-align: center;
    color: white;
    margin-bottom: 10%;
    font-size: 1.5rem;
}

.banner button {
    display: block;
    margin: 5% auto;
    padding:2.5%;
    background-color: rgb(65, 148, 225);
    border-radius: 30px;
    border:none;
    color:white;
    font-family: "Awesome";
    font-size: 1.2rem;
 
}

.logo h1{
    display: inline-block;
    font-size: 1.8rem;
    font-family: arial;
    font-weight: bold;
    color:grey;
}

.logo {
    text-align: center;
    margin-bottom: 3%;
    
}

.build {
    border-right: 0;
    border-style:solid;
    border-width: 4px 0 4px 4px;
    border-color: grey;
    color:rgb(255, 153, 0);
    padding-left: 7px;

}

.logo h1 {
    padding-left:2%;

}

nav {
    padding: 0 4%;
}

nav ul {
    text-align: center;
    background-color: rgb(65, 148, 225);
    color: white;
}

nav ul li{
    padding:2% 0;
}

nav ul li:first-child{
    padding-top:5%;
}
nav ul li:last-child{
    padding-bottom:5%;
}

nav ul a {
    text-decoration: none;
    color: white;
    font-family: arial;
    font-weight: bold;
}

main h2 {
    text-align: center;
    font-size: 2.5rem;    
}

h2 {
    text-align: center;
    font-size: 2.5rem;    
}

.separator {
    height: 2px;
    background-color: black;
    width: 40%;
    margin: 10px auto 0 auto;
    display: block;
}


main {
    padding:0 7%;
}

main h3 {
    padding: 5% 0;
    color:rgb(65, 148, 225);
}

main ul {
    margin-top: 5%;
    list-style: url(arrow_bullet.png);
    list-style-position: inside;
}

main img {
    display: block;
    width: 100%;
    margin: 5% 0;
}

main ul li {
    padding: 2% 0;
}

.comments {
    background-color: rgb(65, 148, 225);
    padding: 5%;
    margin-bottom: 10px;
}

.comments img {
    width: 80px;
    border-radius: 50%;
    border: 2px white solid;
    padding: 1%;
    float: left;
    margin-right: 20px;
}

.comments p {
    clear: both;
    color: white;
    text-align: justify;
}

h4 {
    padding-top: 11%;
    font-size: 1.2rem;
}

.contact {
    height: 150px;
    padding: 10%;
    text-align: center;
    color: white;
}

.jedan {
    background-color: green;
}

.dva {
    background-color: pink;
}

.tri {
    background-color: blue;
}

.cetiri {
    background-color: rgb(65, 148, 225);
    padding: 0;
    
}

.cetiri img{
    width: 100%;
    height: 100%;
    margin: 0;
}
