p {
    height: 200px;
    width: 300px;
    display: inline-block;
    margin: 5px;
}

.navigacija {
    font-family: sans-serif;
    color: white;
    font-size: 16px;
    font-weight: bold;
    float: right;
    margin-right: 20px;
    padding-left: 0px;
}

.navigacija li {
    display: inline-block;
    padding: 0 10px; 
}

#csshtml {
    width: 100%;
}

#jedan {
    margin: 0 auto;
    background-color: rgb(195, 29, 0);
    width: 960px;
    overflow: auto;
}

#dva {
    border: white solid 1px;
    width: 960px;
    margin: 0 auto;
}

#tri {
    width: 960px;
    margin: 0 auto;
}

.crvena {
background-color: rgb(195, 29, 0);
margin: 10px;
}

.lista {

    /* height: 300px;
    width: 300px; */
    float: right;
    background: goldenrod;
    color: black;
    position: relative;
   
}
.lista ul{

    padding-left: 0px;
    overflow: hidden;
    font-family: sans-serif;
    font-size: 18px;
    width: 300px;
    
}
.lista li {
    padding: 10px 0;
    margin: 0px 15px;
    border-bottom: 1px black solid;
    list-style-type: none;
    
}

.textimg {
    margin: 5px 15px 5px 0;
    display: inline-block;
}
